#shuffle-menu {

    &.page-section {
        padding: 1rem 0;
    }

    ul.filter-group {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
    }

    ul.filter-group li {
        position: relative;
    }
    
    ul.filter-group li a {
        &::after {
        position: absolute;
        right: 1rem;
        bottom: 5px;
        left: 1rem;
        display: block;
        content: "";
        transition: all .5s;
        transform: translateY(10px);
        opacity: 0;
        border-top: 3px solid #f5a637;

        }
    }

    ul.filter-group > li a.active {
        &::after {
            opacity: 1;
            transform: translateY(5px);
        }
    }

    ul.category {
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .menu-item__wrapper {
        .row {
            display: flex;
            flex-direction: column;
            @include media-breakpoint-up(md) {
                flex-direction: row;
            }
        }
        // border-bottom: 1px solid #f0f0f0;
        border-bottom: 1px solid #f0f0f0; 
        padding-bottom: 1rem;
    }

    .menu-item {
        margin-top: 1.0rem;

    }

    .menu-item__image {
        display: flex;
        align-items: center;
        img {
            width: 100%;
            // height: 100%;
            object-fit: cover;
        }
    }

    .menu-item__text_container {
        margin-top: 1.0rem;
    }

    .menu-item__description {
        margin-top: 1.0rem;
        color: #777;
    } 


    .menu-item__price {
        margin-top: 1.0rem;
    }
}