#about {
  img {
    width: 100%;
  }



  @media (max-width: 990px) {
    .about-text {
      // padding: 10px 0px 0 0px;
      padding: 15px;
    }
  }

  @media (min-width: 992px) {
    .about-text {
      padding: 0px 0px 0 15px;
    }
  }

  // .about-text {
  //   color:#fff !important;
  // }

}