.navbar-toggler {
  border: none;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 1.1rem;
}

.navbar-toggler-icon {
  width: 2em;
  height: 2em;
}


.bg-secondary {
  background-color: #ECECEC !important;
}